
h1{
    z-index: 7;
}

section{
  overflow: hidden;
}

@keyframes slide {
  from{
transform: translateX(0);
  }
  to{
transform: translateX(-100%);
  }
}


@keyframes slider {
  from{
transform: translateX(0);
  }
  to{
transform: translateX(100%);
  }
}

#left{
  animation: 45s slide infinite linear;
}
#right{
  animation: 45s slider infinite linear;
}