#line {
  color: white;
  height: 2px;

  z-index: 10;
}

#lines {
  color: white;

  z-index: 10;
  rotate: 90deg;
}


/* YourComponent.css */

@keyframes moveLine {
    to {
      transform: translateX(240px);
    }
  }
  
  #line hr {
    animation: moveLine 4s alternate infinite;
  }
  